<%- include('partials/head.ejs') %>

<body id="index">
    <%- include('partials/header.ejs') %>
    <div style="max-width: 992px; margin: 64px auto;">

        <!-- If a product is chosen, display that product and its connected products. -->
        <% if (product) { %>

        <div style="display: flex;">

            <div style="flex-basis: 70%;">

                <!-- Chosen product. -->
                <div>
                    <li style="list-style: none; display: inline-block; background-color: grey; margin: 8px; padding: 8px;">
                        <h3><%= product.name %></h3>
                        <p><%= product.description %></p>
                        <p><%= product.price %> ,- <%= product.unit %></p>
                    </li>
                </div>

                <!-- Products connected to chosen product. -->
                <h3>Har du husket følgende til dette produkt?</h3>
                <div style="display: flex; flex-direction: column;">
                    <% products.forEach(product => { %>
                            <li style="list-style: none; width: fit-content; background-color: grey; margin: 8px; padding: 8px;">
                                <h3><%= product.name %></h3>
                                <p><%= product.description %></p>
                                <p><%= product.price %> ,- <%= product.unit %></p>
                                <button><a style="text-decoration: none; color: black;" href="/produkt/<%= product.id %>">Læg I Kurv</a></button>
                            </li>
                    <% }); %>
                </div>

                <!-- Related products to chosen product. -->
                <h3>Relevante produkter</h3>
                <% relatedProducts.forEach(product => { %>
                        <li style="list-style: none; display: inline-block; background-color: grey; margin: 8px; padding: 8px;">
                            <h3><%= product.name %></h3>
                            <p><%= product.description %></p>
                            <p><%= product.price %> ,- <%= product.unit %></p>
                            <button><a style="text-decoration: none; color: black;" href="/produkt/<%= product.id %>">Læg I Kurv</a></button>
                        </li>
                <% }); %>

            </div>

            <!-- Cart. -->
            <div style="flex-basis: 30%;">

                <h3>Indkøbskurv</h3>
                <% if (cart) { %>
                    <% cart.forEach(product => { %>
                        <li>
                            <p><%= product.name %></p>
                            <p><%= product.description %></p>
                        </li>
                    <% }) %>
                <% } %>
                <!-- <small>Din indkøbskurv er tom.</small><br> -->
                <button>Betal</button>

            </div>

        </div>

        <!-- If no products is chosen, display all products. -->
        <% } else { %>

        <div id="products" style="display: flex;">

            <!-- All products -->
            <% products.forEach(product => { %>
                
                    <li style="list-style: none; display: inline-block; background-color: grey; margin: 8px; padding: 8px;">
                        <h3><%= product.name %></h3>
                        <p><%= product.description %></p>
                        <p><%= product.price %> ,- <%= product.unit %></p>
                        <button class="addToCart" onclick="addToCart('<%= product.id %>', '<%= product.name %>')">Læg I Kurv</button>
                    </li>

            <% }); %>

        </div>

        <% } %>

    </div>

    <!-- Move script to its own separate file later -->
    <script defer>

        /* Function to create pop-up window when clicking on 'add to cart' button */ 
        function addToCart(productId, productName) {

            const body = document.getElementById('index');
            const container = document.createElement('div');
            const addedItem = document.createElement('small');
            const title = document.createElement('h2');
            const accept = document.createElement('a');
            const dismiss = document.createElement('a');

            container.setAttribute('id', 'popUp');
            addedItem.setAttribute('id', 'addedItem');
            accept.setAttribute('href', 'produkt/' + productId);
            dismiss.setAttribute('href', '/');

            addedItem.innerHTML = `${productName} tilføjet til kurv`;
            title.innerHTML = 'Vi har nogle forslag til relevante produkter. Vil du se dem nu?';
            accept.innerHTML = 'Se produkter';
            dismiss.innerHTML = 'Ikke nu';

            container.append(addedItem, title, accept, dismiss);
            body.appendChild(container);
        
        }

    </script>

    <!-- Styles for pop-up window, remove to separate file later -->
    <style>
        #popUp {
            width: 992px;
            height: 80vh;
            background-color: rgba(169, 169, 169, 0.96);
            padding: 32px;   
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
        }
        #popUp a {
            margin: 8px;
        }
        #addedItem {
            display: block;
            background-color: green;
            padding: 8px;
        }
    </style>

    <%- include('partials/scripts.ejs') %>
</body>
</html>